.page {

	&>section:not(:last-child) {
		margin-bottom: rem(30);
	}

	// .page__custom-checkboxes

	&__custom-checkboxes {}

	// .page__custom-radiobuttons

	&__custom-radiobuttons {}

	// .page__custom-select

	&__custom-select {}
}

.custom-checkboxes {

	// .custom-checkboxes__container

	&__container {}

	// .custom-checkboxes__title

	&__title {}

	// .custom-checkboxes__body

	&__body {}

	// .custom-checkboxes__custom-checkbox

	&__custom-checkbox {
		@extend %custom-component;
	}
}

.custom-checkbox {

	// .custom-checkbox__checkmark

	&__checkmark {}

	// .custom-checkbox__custom-checkmark

	&__custom-checkmark {}

	// .custom-checkbox__checkbox-label

	&__checkbox-label {
		@extend %custom-component-label;
	}
}

.custom-radiobuttons {

	// .custom-radiobuttons__container

	&__container {}

	// .custom-radiobuttons__title

	&__title {}

	// .custom-radiobuttons__body

	&__body {}

	// .custom-radiobuttons__custom-radiobutton

	&__custom-radiobutton {
		@extend %custom-component;
	}
}

.custom-radiobutton {

	// .custom-radiobutton__checkmark

	&__checkmark {}

	// .custom-radiobutton__custom-checkmark

	&__custom-checkmark {}

	// .custom-radiobutton__radiobutton-label

	&__radiobutton-label {
		@extend %custom-component-label;
	}
}

.custom-select {

	// .custom-select__container

	&__container {
		display: grid;
		grid-template-columns: repeat(2, min-content);
		gap: rem(10);
	}

	// .custom-select__title

	&__title {
		grid-column: 1 / -1;
	}

	// .custom-select__selectlist-wrapper

	&__selectlist-wrapper {}

	// .custom-select__selectlist

	&__selectlist {}
}